*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(87, 77, 148);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

h1{
    display: inline;
    font-size: 80px;
}

@keyframes winningBorderFlash{
    0% {border: 10px solid black;}
    50% {border: 10px solid green;}
    100% {border: 10px solid black;}
}

@keyframes winningScoreFlash{
    0% {color: black;}
    50% {color:  green;}
    100% {color:  black;}
}

.winningBorder{
    animation: winningBorderFlash 1s infinite;
    animation-timing-function: linear;
}

.winningScore{
    animation: winningScoreFlash 1s infinite;
    animation-timing-function: linear;
}

#rps{
    font-size: 80px;
    color:rgb(39, 27, 146);
}

.score{
    font-size: 75px;
    font-weight: 1000;
    transition: all 0.2s ease-in-out;
}

.winScore{
    color: green;
}

.gameButtons{
    outline: none;
    border: none;
    max-width: 260px;
    max-height: 260px;
}

.buttonsImg{
    max-width: 200px;
}

.buttonsImg:hover{
    margin-top: -5px;
    margin-bottom: 5px;
    transition: all 0.1s ease-in-out;
}

.buttonsImg:active{
    margin-top: 3px;
    margin-bottom: -3px;
    transition: all 0.1s ease-in-out;
}

img{
    max-width: 200px;
    border-radius: 50%;
}

.restartButton{
    display: block;
    font-size: 30px;
    padding: 10px;
    margin: 15px auto;
    height: 80px;
    width: 200px;
    border-radius: 0.25em;
    border: 2px solid black;
    cursor: pointer;
}

.againText{
    display: none;
}

.restartButton:hover{
    box-shadow: 0px 3px 4px black;
    margin-top: -5px;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.restartButton:hover .resultText{
    display: none;
}

.restartButton:hover .againText{
    display: block;
}

/* border display */
.chosenWeapon{
    display: inline-block;
    text-align: center;
    justify-content: center;
    border: 10px solid black;
    height: 380px;
    width: 380px;
    border-radius: 0.5em;
    transition: all 0.3s ease;
}

.chosenWeapon p{
    margin-top: 15px;
}

.winner{
    border: 10px solid green;
}

.draw{
    border: 10px solid orange;
}

.flip{
    transform: scaleX(-1);
}

#controlPanel{
    margin: 15px;
    justify-items: center;
}

#controlPanel p{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#roundResult{
    margin: 30px auto;
    padding: 10px;
    width: 650px;
    justify-self: center;
    border-top: 3px dotted rgb(48, 48, 56);
    border-bottom: 3px dotted rgb(48, 48, 56);
}

#computerChoiceCaption, #playerChoiceCaption{
    margin-bottom: 15px;
}

.heading{
    margin: 10px;
}

.heading a{
    height: 30px;
    width: 30px;
}

.heading a img{
    height: 30px;
    top: 15px;
    position: absolute;
    margin-top: 3px;
    transition: all 0.2s ease-in-out;
}

.heading a img:hover{
    margin-top: 0px;
    margin-bottom: 3px;
}